$primary-color: #fff;
$secondary-color: #000;

.header {
  background: url(../img/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    &__list {
      display: flex;

      &-anchor {
        position: relative;
        color: $primary-color;
        font-family: "Alata", sans-serif;
        margin-right: 20px;
        // font-family: 'Josefin Sans', sans-serif;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background: $primary-color;
          transform: translateX(-50%);
          bottom: -15px;
          height: 2px;
          width: 0;
          left: 50%;
          transition: all ease 0.5s;
        }
      }
    }

    &__icon-hamburger {
      display: none;
    }
  }

  &__text-box {
    margin-top: 20vh;
    margin-left: 10vh;

    &__title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      color: $primary-color;
      border: 2px solid $primary-color;
      width: 50%;
      text-transform: uppercase;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    position: relative;
    background: url(../img/mobile/image-hero.jpg);
    transition: all ease .6s;

    &.active {
      background: linear-gradient(181deg, #12121c, #000000a6), url(../img/mobile/image-hero.jpg);
      transition: all ease .6s;
    }

    &__nav {
      padding: 20px 40px;

      &__list {
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        left: 0;
        align-items: center;
        justify-content: center;
        margin-top: 62px;

        &.active {
          visibility: visible;
          transition: all ease 0.6s;
        }

        & li {
          border-bottom: 1px solid $primary-color;
          width: 100%;
          text-align: center;
          border: 1px solid #3c3456;
          padding: 20px 0;
        }

        &-anchor {
          margin-right: 0;
          font-size: 1.5em;

          &:hover {
            &::after {
              width: 0;
            }
          }
        }
      }

      &__icon-hamburger {
        display: block;
        transform: rotate(0deg);
        transition: all ease 0.6s;

        &.active {
          transform: rotate(360deg);
          transition: all ease 0.6s;
        }
      }
    }

    &__text-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20vh;
      margin-left: 0;

      &.active {
        visibility: hidden;
      }

      &__title {
        font-size: 2rem;
        padding: 15px;
        width: 80%;
        text-align: center;
      }
    }
  }
}
