.header {
  background: url(../img/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__list-anchor {
  position: relative;
  color: #fff;
  font-family: "Alata", sans-serif;
  margin-right: 20px;
}

.header__nav__list-anchor:hover::after {
  width: 100%;
}

.header__nav__list-anchor::after {
  content: "";
  position: absolute;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
  height: 2px;
  width: 0;
  left: 50%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.header__nav__icon-hamburger {
  display: none;
}

.header__text-box {
  margin-top: 20vh;
  margin-left: 10vh;
}

.header__text-box__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  color: #fff;
  border: 2px solid #fff;
  width: 50%;
  text-transform: uppercase;
  padding: 30px;
}

@media screen and (max-width: 700px) {
  .header {
    position: relative;
    background: url(../img/mobile/image-hero.jpg);
    -webkit-transition: all ease .6s;
    transition: all ease .6s;
  }
  .header.active {
    background: linear-gradient(181deg, #12121c, #000000a6), url(../img/mobile/image-hero.jpg);
    -webkit-transition: all ease .6s;
    transition: all ease .6s;
  }
  .header__nav {
    padding: 20px 40px;
  }
  .header__nav__list {
    visibility: hidden;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 100%;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 62px;
  }
  .header__nav__list.active {
    visibility: visible;
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .header__nav__list li {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    border: 1px solid #3c3456;
    padding: 20px 0;
  }
  .header__nav__list-anchor {
    margin-right: 0;
    font-size: 1.5em;
  }
  .header__nav__list-anchor:hover::after {
    width: 0;
  }
  .header__nav__icon-hamburger {
    display: block;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .header__nav__icon-hamburger.active {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }
  .header__text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20vh;
    margin-left: 0;
  }
  .header__text-box.active {
    visibility: hidden;
  }
  .header__text-box__title {
    font-size: 2rem;
    padding: 15px;
    width: 80%;
    text-align: center;
  }
}
/*# sourceMappingURL=header.css.map */