.header {
  background: url(../img/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    &__list {
      display: flex;

      &-anchor {
        position: relative;
        color: #fff;
        font-family: "Alata", sans-serif;
        margin-right: 20px;
        // font-family: 'Josefin Sans', sans-serif;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background: #fff;
          transform: translateX(-50%);
          bottom: -15px;
          height: 2px;
          width: 0;
          left: 50%;
          transition: all ease 0.3s;
        }
      }
    }

    &__icon-hamburger {
      display: none;
    }
  }

  &__text-box {
    margin-top: 20vh;
    margin-left: 10vh;

    &__title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      color: #fff;
      border: 2px solid #fff;
      width: 50%;
      text-transform: uppercase;
      padding: 30px;
    }
  }
}
