.header {
  background: url(../img/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

    &__list {
      display: flex;

      &-anchor {
        position: relative;
        color: #fff;
        font-family: "Alata", sans-serif;
        margin-right: 20px;
        // font-family: 'Josefin Sans', sans-serif;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          position: absolute;
          background: #fff;
          transform: translateX(-50%);
          bottom: -15px;
          height: 2px;
          width: 0;
          left: 50%;
          transition: all ease 0.5s;
        }
      }
    }

    &__icon-hamburger {
      display: none;
    }
  }

  &__text-box {
    margin-top: 20vh;
    margin-left: 10vh;

    &__title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      color: #fff;
      border: 2px solid #fff;
      width: 50%;
      text-transform: uppercase;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    position: relative;
    background: url(../img/mobile/image-hero.jpg);
    transition: all ease 10s;

    &.active {
      background: url(../img/mobile/image-hero.jpg);
      transition: all ease 10s;
    }

    &__nav {
      padding: 20px 40px;

      &__list {
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        width: 100%;
        left: 0;
        align-items: center;
        justify-content: center;
        margin-top: 62px;

        &.active{
          visibility: auto;
        }

        & li{
          margin-top: 30px;
        }

        &-anchor {
          margin-right: 0;
          font-size: 1.5em;
  
          &::after {
            bottom: -5px;
          }
        }
      }

      &__icon-hamburger {
        display: block;
      }
    }

    &__text-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20vh;
      margin-left: 0;

      &__title {
        font-size: 2rem;
        padding: 15px;
        width: 80%;
        text-align: center;
      }
    }
  }
}
