.main {
  padding: 100px 60px 20px 60px;
  font-family: "Josefin Sans", sans-serif;
}

.main__about {
  position: relative;
}

.main__about-interactive-mobile {
  display: none;
}

.main__about img {
  max-width: 100%;
  border-radius: 10px;
}

.main__about-info {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  width: 40%;
  padding: 75px 75px 5px 75px;
  border-top-left-radius: 10px;
}

.main__about-info__title {
  font-size: 2.8em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main__about-info__paragraph {
  line-height: 20px;
}

.main__creation {
  padding: 50px 0;
}

.main__creation__title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.main__creation .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__creation .card-view {
  position: relative;
  margin: 20px 0;
}

.main__creation .card-view img {
  border-radius: 5px;
}

.main__creation .card-view__legend {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.main__creation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__creation__btn .btn {
  background: #fff;
  color: #000;
  outline: none;
  border: 1px solid #010103;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.main__creation__btn .btn:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media screen and (max-width: 700px) {
  .main {
    padding: 20px;
  }
  .main__about-interactive-mobile {
    display: block;
    margin-bottom: 30px;
  }
  .main__about-interactive-desktop {
    display: none;
  }
  .main__about-info {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    border-top-left-radius: 0;
    text-align: justify;
  }
  .main__about-info__title {
    font-size: 2em;
  }
  .main__creation__title {
    font-size: 2rem;
    text-align: center;
  }
  .main__creation .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__creation .card-view {
    position: relative;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .main__creation .card-view__earth-desktop {
    display: none;
  }
  .main__creation .card-view__earth-mobile {
    display: block;
  }
  .main__creation .card-view__arcade-desktop {
    display: none;
  }
  .main__creation .card-view__arcade-mobile {
    display: block;
  }
  .main__creation .card-view__soccer-desktop {
    display: none;
  }
  .main__creation .card-view__soccer-mobile {
    display: block;
  }
  .main__creation .card-view__grid-desktop {
    display: none;
  }
  .main__creation .card-view__grid-mobile {
    display: block;
  }
  .main__creation .card-view__above-desktop {
    display: none;
  }
  .main__creation .card-view__above-mobile {
    display: block;
  }
  .main__creation .card-view__borealis-desktop {
    display: none;
  }
  .main__creation .card-view__borealis-mobile {
    display: block;
  }
  .main__creation .card-view__curiosity-desktop {
    display: none;
  }
  .main__creation .card-view__curiosity-mobile {
    display: block;
  }
  .main__creation .card-view__fisheye-desktop {
    display: none;
  }
  .main__creation .card-view__fisheye-mobile {
    display: block;
  }
  .main__creation .card-view img {
    max-width: 100%;
    margin: 5px 0;
  }
  .main__creation__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__creation__btn .btn {
    background: #fff;
    color: #000;
    outline: none;
    border: 1px solid #010103;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
  .main__creation__btn .btn:hover {
    background: #000;
    color: #fff;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }
}
/*# sourceMappingURL=main.css.map */