.main {
  padding: 100px 60px;
  font-family: "Josefin Sans", sans-serif;

  &__about {
    position: relative;

    & img {
      max-width: 100%;
      border-radius: 10px;
    }

    &-info {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #fff;
      width: 40%;
      padding: 75px 75px 5px 75px;
      border-top-left-radius: 10px;

      &__title {
        font-size: 2.8em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &__paragraph {
        line-height: 20px;
      }
    }
  }
}
