.main {
  padding: 100px 60px 20px 60px;
  font-family: "Josefin Sans", sans-serif;

  &__about {
    position: relative;

    &-interactive-mobile {
      display: none;
    }

    & img {
      max-width: 100%;
      border-radius: 10px;
    }

    &-info {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #fff;
      width: 40%;
      padding: 75px 75px 5px 75px;
      border-top-left-radius: 10px;

      &__title {
        font-size: 2.8em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      &__paragraph {
        line-height: 20px;
      }
    }
  }

  &__creation {
    padding: 50px 0;

    &__title {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    & .card {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      &-view {
        position: relative;
        margin: 20px 0;

        & img {
          border-radius: 5px;
        }        

        &__earth-desktop{
          display: block;
        }

        &__earth-mobile{
          display: none;
        }

        &__arcade-desktop{
          display: block;
        }

        &__arcade-mobile{
          display: none;
        }

        &__soccer-desktop{
          display: block;
        }

        &__soccer-mobile{
          display: none;
        }

        &__grid-desktop{
          display: block;
        }

        &__grid-mobile{
          display: none;
        }

        &__above-desktop{
          display: block;
        }

        &__above-mobile{
          display: none;
        }

        &__borealis-desktop{
          display: block;
        }

        &__borealis-mobile{
          display: none;
        }

        &__curiosity-desktop{
          display: block;
        }

        &__curiosity-mobile{
          display: none;
        }

        &__fisheye-desktop{
          display: block;
        }

        &__fisheye-mobile{
          display: none;
        }

        &__legend {
          position: absolute;
          bottom: 0;
          color: white;
          padding: 20px;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: center;

      & .btn {
        background: #fff;
        color: #000;
        outline: none;
        border: 1px solid #010103;
        text-transform: uppercase;
        font-size: 1em;
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
        transition: all ease 0.4s;

        &:hover {
          background: #000;
          color: #fff;
          transition: all ease 0.4s;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    padding: 20px;

    &__about {
      &-interactive-mobile {
        display: block;
        margin-bottom: 30px;
      }

      &-interactive-desktop {
        display: none;
      }

      &-info {
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 0;
        border-top-left-radius: 0;
        text-align: justify;

        &__title {
          font-size: 2em;
        }
      }
    }

    &__creation {
      &__title {
        font-size: 2rem;
        text-align: center;
      }

      & .card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        &-view {
          position: relative;
          margin: 0;
          text-align: center;
          width: 100%;

          &__earth-desktop{
            display: none;
          }

          &__earth-mobile{
            display: block;
          }

          &__arcade-desktop{
            display: none;
          }

          &__arcade-mobile{
            display: block;
          }

          &__soccer-desktop{
            display: none;
          }

          &__soccer-mobile{
            display: block;
          }

          &__grid-desktop{
            display: none;
          }

          &__grid-mobile{
            display: block;
          }

          &__above-desktop{
            display: none;
          }

          &__above-mobile{
            display: block;
          }

          &__borealis-desktop{
            display: none;
          }

          &__borealis-mobile{
            display: block;
          }

          &__curiosity-desktop{
            display: none;
          }

          &__curiosity-mobile{
            display: block;
          }

          &__fisheye-desktop{
            display: none;
          }

          &__fisheye-mobile{
            display: block;
          }

          & img {
            max-width: 100%;
            margin: 5px 0;
          }
        }
      }
    }
  }
}
